# Ignorar carpetas de compilación
*/target/
target/

# Ignorar binarios y ejecutables
*.jar
*.exe

# Ignorar archivos sensibles y credenciales
*.json
*.pem
*.key
.env
application.properties

# Ignorar archivos de configuración local (IDE)
*.iml
.idea/
.vscode/
*.log

# Archivos del sistema
.DS_Store
Thumbs.db
