# Ignorar carpetas de compilación
*/target/
target/

# Ignorar binarios y ejecutables
*.jar
*.exe

# Ignorar archivos sensibles y credenciales
*.json
*.pem
*.key
.env

# Ignorar archivos de configuración local (opcional)
*.iml
.idea/
*.log
